/* ===== <?gotham> ============================================= */
@font-face {
	font-family: 'Gotham';
	font-display: swap;
	src: url('../fonts/Gotham-Regular.woff') format('woff'),
		  url('../fonts/Gotham-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: 'Gotham';
	font-display: swap;
	src: url('../fonts/Gotham-Medium.woff') format('woff'),
		  url('../fonts/Gotham-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal
}
@font-face {
	font-family: 'Gotham';
	font-display: swap;
	src: url('../fonts/Gotham-Bold.woff') format('woff'),
		  url('../fonts/Gotham-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal
}
@font-face {
	font-family: 'Gotham';
	font-display: swap;
	src: url('../fonts/Gotham-Black.woff') format('woff'),
		  url('../fonts/Gotham-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal
}
/* ===== <?montserrat> ============================================= */
@font-face {
	font-family: 'Montserrat';
	font-display: swap;
	src: url('../fonts/Montserrat-Regular.woff') format('woff'),
		  url('../fonts/Montserrat-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: 'Montserrat';
	font-display: swap;
	src: url('../fonts/Montserrat-Medium.woff') format('woff'),
		  url('../fonts/Montserrat-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal
}