/* ===== <?fonts> ============================================= */
$font1: 'Montserrat';
$font2: 'Gotham';
/* ===== <?colors> ============================================= */
$darkest: #1f2328;
$black: #24282f;
$dark: #20242c;
$gray: #9e9e9e;
$white: #f0f0f0;
$cyan: #48a5a5;
/* ===== <?etc> ============================================= */
$trn: 350ms ease-in-out 50ms;
$ltrn: 550ms ease-in-out 100ms;
$eltrn: 750ms ease-in-out 150ms;